/* Main page elements */
body {
  width: 95vw;
  background-color: white;
  height: 90vh;
  text-align: center;
}

main {
  border: #000000 1px;
}


/* ID Selectors */
#title {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 3.5em;
  margin-bottom: 12px;
  margin-top: 12px;
}

#registration_form {
  display: block;
  margin-top: 2em;
}

#registration_form span {
  display: block;
  padding: 1em;
}

/* Tweaks to links */
a:link {
  color: blue;
}

a:visited {
  color: orangered;
}

a:hover,
a:focus {
  color: rgb(104, 15, 112);
}


header {
  border-bottom: 1px solid black;
}

header h1 {
  margin-left: 3.125%;
}

.error {
  border: 2px solid red;
  border-radius: 4px;
}


/* Media queries */

/* All wide screens*/
@media screen and (min-width: 959px) and (max-width: 3840px) {
  #no_pdf {
    visibility: hidden;
  }
}

/* tablet portrait layout (768px to 959px) */
@media only screen and (max-width: 959px) {
  body {
    width: 95vw;
    background-color: white;
    margin: 15px auto;
    outline: 0px solid #000000;
    height: 95vh;
  }

  #no_pdf {
    visibility: hidden;
  }
}

/* mobile landscape layout (480px to 767px) */
@media only screen and (max-width: 767px) {
  body {
    width: 95vw;
    background-color: white;
    margin: 15px auto;
    outline: 0px solid #000000;
    height: 95vh;
  }

  object {
    visibility: hidden;
  }

  #no_pdf {
    visibility: visible;
  }
}

/* mobile portrait layout (479px or less) */
@media only screen and (max-width: 479px) {
  body {
    width: 95vw;
    background-color: white;
    margin: 15px auto;
    outline: 0px solid #000000;
    height: 95vh;
  }

  ul li {
    display: inline-block;
    margin: 0;
    padding: 5% 0;
    list-style-type: circle;
  }
}