#registrations {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
    border: 2px solid black;
    border-collapse: collapse; 
    width: 90vw;
  }
  
  #registrations tr {
    border: 2px solid black;
  }

  #registrations th {
    border: 2px solid black;
    font-size: 24px;
  }

  #registrations tr td{
    font-size: 18px;
    text-align: center;
    border: 2px solid black;
    vertical-align: middle;
    height: 48px;
  }

  /* Media queries */

/* All wide screens*/
@media screen and (min-width: 959px) and (max-width: 3840px) {
  #no_pdf {
    visibility: hidden;
  }
}

/* tablet portrait layout (768px to 959px) */
@media only screen and (max-width: 959px) {
  body {
    width: 95vw;
    background-color: white;
    margin: 15px auto;
    outline: 0px solid #000000;
    height: 95vh;
  }

  #no_pdf {
    visibility: hidden;
  }
}

/* mobile landscape layout (480px to 767px) */
@media only screen and (max-width: 767px) {
  body {
    width: 95vw;
    background-color: white;
    margin: 15px auto;
    outline: 0px solid #000000;
    height: 95vh;
  }
}

/* mobile portrait layout (479px or less) */
@media only screen and (max-width: 479px) {
  body {
    width: 95vw;
    background-color: white;
    margin: 15px auto;
    outline: 0px solid #000000;
    height: 95vh;
  }
}